*{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/*barra de navegação*/
.navbar {
    background-color: #33691E;
    padding: 40px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white; 
    cursor: pointer; 
}

.navbar .logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .nav-links {
    list-style: none;
    display: flex;
    justify-content: center;
}

.navbar .nav-links li {
    margin: 20px 15px;
}

.navbar .nav-links li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.navbar .nav-links li a:hover {
    color: #b3e89f; 
}

.navbar .botoes a {
    text-decoration: none;
    color: white;
    background-color: #03A9F4; 
    padding: 15px 15px;
    border-radius: 5px;
    margin-left: 10px;
    font-size: 0.9rem;
}

.navbar .botoes a:hover {
    background-color: #45a049;
}
/* Responsividade */
@media (max-width: 768px) {
    .navbar {
        flex-wrap: wrap;
    }

    .navbar .nav-links {
        justify-content: flex-start;
        flex: unset;
        flex-direction: column;
    }

    .auth-buttons {
        justify-content: flex-end;
        width: 100%;
        margin-top: 10px;
    }
}

.imagem{
    background-color: #616161;
    padding: 10px;
    text-align: center;
}

.imagem img{
    width: 100%;
    height: 100%;
}